conf/SOSExtension.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions 
  xmlns="http://schemas.xmlsoap.org/wsdl/" 
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:xs="http://www.w3.org/2001/XMLSchema" 
  xmlns:arcgis="http://www.esri.com/schemas/ArcGIS/10.1" 
  xmlns:soe="http://www.soe.arcgissamples" 
  targetNamespace="http://www.soe.arcgissamples">
  
	<documentation>Sensor Observation Service SOE</documentation>
	
	<!-- ============================================== -->
	<!-- ====================  Types ==================== -->
	<!-- ============================================== -->
	<types>
		<xs:schema 
			targetNamespace="http://www.soe.arcgissamples" 
			xmlns="http://www.soe.arcgissamples" 
			xmlns:jxb="http://java.sun.com/xml/ns/jaxb" jxb:version="1.0">
			<xs:annotation>
				<xs:appinfo>
					<jxb:schemaBindings>
						<jxb:package name="52nArcGisSos.soe"/>
					</jxb:schemaBindings>
				</xs:appinfo>
			</xs:annotation>
			<xs:import namespace="http://www.esri.com/schemas/ArcGIS/10.1"/>
			<xs:element name="insertObservation">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="offeringID" type="xs:int" minOccurs="1"/>
						<xs:element name="phenomenonTime" type="xs:string" minOccurs="1" />
						<xs:element name="featureID" type="xs:int" minOccurs="1" />
						<xs:element name="observedPropertyID" type="xs:int" minOccurs="1" />
						<xs:element name="procedureID" type="xs:int" minOccurs="1" />
						<xs:element name="uom" type="xs:string" minOccurs="1" />
						<xs:element name="result" type="xs:float" minOccurs="1" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="insertObservationResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="arg" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
		<xs:schema 
			targetNamespace="http://www.esri.com/schemas/ArcGIS/10.1" 
			xmlns="http://www.esri.com/schemas/ArcGIS/10.1" 
			xmlns:jxb="http://java.sun.com/xml/ns/jaxb" 
			jxb:version="1.0">
			<xs:annotation>
				<xs:appinfo>
					<jxb:schemaBindings>
						<jxb:package name="com.esri.arcgisws"/>
					</jxb:schemaBindings>
				</xs:appinfo>
			</xs:annotation>
		</xs:schema>
	</types>
	
	<!-- ================================================= -->
    <!-- ====================  Messages ==================== -->
    <!-- ================================================= -->
	<message name="insertObservationIn">
		<part name="parameters" element="soe:insertObservation"/>
	</message>
	<message name="insertObservationOut">
		<part name="parameters" element="soe:insertObservationResponse"/>
	</message>
	
	<!-- ================================================= -->
    <!-- ====================  Port Types ==================== -->
    <!-- ================================================= -->
	<portType name="ISosTransactionalSoap">
		<operation name="insertObservation">
			<input message="soe:insertObservationIn"/>
			<output message="soe:insertObservationOut"/>
		</operation>
	</portType>
	
	<!-- ================================================= -->
    <!-- ====================  Bindings ==================== -->
    <!-- ================================================= -->
	<binding name="ISosTransactionalSoapBinding" type="soe:ISosTransactionalSoap">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="insertObservation">
			<soap:operation soapAction="" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	
	<!-- ================================================= -->
    <!-- ====================  Service ==================== -->
    <!-- ================================================= -->
	<service name="#NAME#">
		<port name="ISosTransactionalSoap" binding="soe:ISosTransactionalSoapBinding">
			<soap:address location="#URL#"/>
		</port>
	</service>
</definitions>
